@font-face { 
    font-family: pixelated; src: url("../fonts/Pixeled.ttf");
}
@font-face { 
    font-family: alagard; src: url("../fonts/alagard.ttf");
  }
  body{
    background-color:whitesmoke;
    text-align: center;

}
img.perfil{
    filter: hue-rotate(20deg);
    
    /*image-rendering: pixelated;*/
    max-width: 150px;

}
img{
    filter: hue-rotate(20deg);
    
    /*image-rendering: pixelated;*/
    max-width: 300px;
}
p{
    font-family: alagard;
    color: rgb(187, 128, 179);
    font-size: 30px;
}

p.divisao{
    font-size: 25px;
    color: rgb(142, 97, 160);
}
h1{
    color: rgb(219, 93, 177);
    font-family: alagard;
    font-size: 35px;
}
h2{
    color: rgb(219, 93, 177);
    font-family: alagard;
    font-size: 25px;
}
a{
    color:rgb(116, 156, 168);
    text-decoration: none;
}
a:visited{
    color:rgb(112, 137, 145);
}
a:hover{
    color: rgb(105, 75, 112);
}